.line-breaks {
  white-space: pre-line;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-card {
  width: 80%;
  max-width: 800px;
  background: rebeccapurple;
  justify-content: center;
  align-items: center;
}

.custom-card-image {
  max-width: 500px;
  width: 100%;
}

.position-btn {
  background: #8c53c6;
  color: #e7e6f0;
  margin-right: 5px;
  margin-left: 5px;
}
