.grid-container {
  display: grid;
  /*background: aqua;*/
  width: 90vw;
  grid-gap: 25px;
  padding: 20px;
  margin: auto;
}

mat-grid-tile {
  /*background: darkcyan;*/
}

.bjj-position-img {
  max-height: 500px;
  max-width: 500px;
  margin: auto;
}
