<div class="card-container">
    <mat-card class="custom-card">
    <mat-list>
      <h3 matSubheader>Sources and tools:</h3>
      <mat-list-item><a style="color: white" href="https://angular.io/">angular.io</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://material.angular.io/">material.angular.io</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://stackoverflow.com">stackoverflow</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://chat.openai.com/chat">chatGPT</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://jasonwatmore.com/post/2022/11/29/angular-14-user-registration-and-login-example-tutorial">jasonwatmore blog</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://www.dotnettricks.com/learn/angularmaterial/gridlayout">dotnettricks-gridlayout</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://www.colorhexa.com/8c53c6">colorhexa</a></mat-list-item>
      <mat-list-item><a style="color: white" href="https://blog.bitsrc.io/how-to-implement-a-global-loader-in-angular-df111a2c43d9">loader</a></mat-list-item>
      <mat-list-item><a style="color: white" href="">My Link</a></mat-list-item>
    </mat-list>
  </mat-card>
</div>
