<div>
  <h2>Sources:</h2>
  <mat-list>
    <mat-list-item><a style="color: white" href="https://angular.io/">angular.io</a></mat-list-item>
    <mat-list-item><a style="color: white" href="https://material.angular.io/">material.angular.io</a></mat-list-item>
    <mat-list-item><a style="color: white" href="https://stackoverflow.com">stackoverflow</a></mat-list-item>
    <mat-list-item><a style="color: white" href="https://chat.openai.com/chat">chatGPT</a></mat-list-item>
    <mat-list-item><a style="color: white" href="https://jasonwatmore.com/post/2022/11/29/angular-14-user-registration-and-login-example-tutorial">jasonwatmore blog</a></mat-list-item>
    <mat-list-item><a style="color: white" href="https://www.dotnettricks.com/learn/angularmaterial/gridlayout">dotnettricks-gridlayout</a></mat-list-item>
    <mat-list-item><a style="color: white" href="">My Link</a></mat-list-item>
  </mat-list>
</div>
