<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.name}}</td>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>surname</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.surname}}</td>
  </ng-container>

  <!-- Nickname Column -->
  <ng-container matColumnDef="nickname">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.nickname}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.weight}}</td>
  </ng-container>

  <!-- Team Column -->
  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef>Team</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.team}}</td>
  </ng-container>

  <!-- Belt Column -->
  <ng-container matColumnDef="belt">
    <th mat-header-cell *matHeaderCellDef>Belt</th>
    <td mat-cell *matCellDef="let competitor">{{competitor.belt}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>

<mat-paginator [length]="50"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [showFirstLastButtons]="true"
               aria-label="Select page">
</mat-paginator>

