.toolbar-spacer {
  flex: 1 1 auto;
}

.active_route {
  text-decoration: underline;
}

/*.toolbar-navbar-top{*/
/*  height: 7%;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 1000; */
/*}*/

/*.router-outlet-content{*/
/*  margin-top: 60px;*/
/*}*/


.toolbar-footer{
  position: fixed; /*todo: think and style*/
  bottom: 0;
  width: 100%;
  height: 3%;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 11px;
  text-align: center;
  width: 100%;
}


.mat-sort-header-arrow {
  color: white !important; /*todo: why not? */
}

