<!-- nav -->
<mat-toolbar color="primary">
  <span><a mat-button routerLink="/positions" routerLinkActive="active_route">Positions</a></span>
  <span><a mat-button routerLink="/techniques" routerLinkActive="active_route">Own Techniques</a></span>
  <span><a mat-button routerLink="/competitors" routerLinkActive="active_route">Competitors</a></span>
  <span class="toolbar-spacer"></span>
  <span><a mat-button routerLink="/sources" routerLinkActive="active_route">Sources</a></span>
  <span><a mat-button routerLink="/account" routerLinkActive="active_route">Account Settings</a></span>
</mat-toolbar>

<!-- main app container -->
<router-outlet></router-outlet>
