<div class="container">

  <div class="intro">

    <img mat-card-image src="../../../assets/image/me.png" alt="Image of me" class="custom-card-image" >
    <h1>Hi, I am Mike, and I strive to be a front-end developer. </h1>

    I am eager to work with an open-minded team on interesting projects with strong focus on front-end side of the process.

    I would love to learn about various aspects of front-end development through state-of-the-art technologies, modern
    approach to software development and deployment, as well as UI/UX design and user experience in general.

    Additionally, I wish to understand how to choose appropriate technologies for the challenges that occur
    during the planning phase of the software development cycle and comprehend better how different technologies merge
    and harmonize with each other to deliver working products.

  </div>

  <div class="basic-info">
    <div class="section">
      <h2>Professional Work Experience</h2>
      I've worked for one year as a full-stack developer at a company named SoftNet, where I collaborated in the
      creation of apps for
      cooperative bank employees.
    </div>
    <div class="section">
      <h2>Education</h2>
      I've finished my BEng degree in January 2023 at the AGH University of Science and Technology
      in Cracow in the field of ICT (Information and Communications Technology - Polish: Teleinformatyka).
    </div>
    <div class="section">
      <h2>Languages</h2>
      I speak fluent English, and use it extensively, both in an active and passive way.
      I also aspire to learn Spanish; for now, I expand on my vocabulary from Duolingo.
    </div>
    <div class="section">
      <h2>Hobbies</h2>
      I like to participate in all kinds of sports: team sports like football and individual ones like Brazilian
      Jiu-Jitsu,
      which I have been training at the Unity Jiu-Jitsu club for 2 years now. I also enjoy commuting everywhere in the
      city by bike.
    </div>
  </div>
  <div class="download-btn">
    <button mat-raised-button color="primary"
            (click)="download()">Download CV in PDF
    </button>
  </div>

</div>

