<div class="container">
  <div class="intro">
    <h1>Hi, I am Mike and I aspire to be a front-end developer</h1>
    I want to work in an open-minded team on exciting projects.
    I wish to understand when to use the appropriate technologies and how they all come together into a common toolkit
    that allows us to create interactive and fascinating applications.
    Additionally, I would love to learn about various aspects of front-end development, including state-of-the-art technologies,
    approaches to software development and deployment, as well as UI/UX design and user experience in general.
  </div>

  <div class="basic-info">
    <div class="section">
      <h2>Professional Work Experience</h2>
      I've worked as a full-stack developer at a company named SoftNet, where I collaborated in the creation of an apps for
      cooperative bank employees.
    </div>
    <div  class="section">
      <h2>Education</h2>
      I've finished my BEng degree at AGH University of Science and Technology
      in Cracow in the field of ICT (polish: Teleinformatyka).
    </div>
    <div  class="section">
      <h2>Languages</h2>
      I speak fluent English and I use it extensively both in an active and passive way. I also aspire to learn Spanish.
    </div>
    <div  class="section">
      <h2>Hobbies</h2>
      I like to participate in all kinds of sports: team sports like football and individual ones like Brazilian Jiu-Jitsu,
      which I have been training at the Unity Jiu-Jitsu club for 2 years now.
    </div>
  </div>
  <div class="download-btn">
    <button mat-raised-button color="primary"
            (click)="download()">Download CV in PDF
    </button>
  </div>
</div>

