<div [formGroup]="mainFormGroup">

    <mat-stepper orientation="vertical" formArrayName="stepData" linear #stepper="matHorizontalStepper"
                            [selectedIndex]="currentStep">
        <mat-step *ngFor="let stepForm of getControls(); let i = index"
                  [stepControl]="stepForm">
            <div [formGroup]="mainFormGroup" formGroupName="{{i}}">
                <ng-template matStepLabel> {{ i + 1 }} Step</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput  formControlName="name" placeholder="Name" required/>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext (click)="addInput(i)">Next</button>
                </div>
                <div>
                    <button mat-button matStepperNext (click)="delInput(i)">del</button>
                </div>
              <div>XXXXXX: {{ i }}</div>
            </div>

        </mat-step>
    </mat-stepper>

</div>
